snippet we "winston error"
winston.error('${1:##}');$2
endsnippet

snippet wd "winston debug"
winston.debug('${1:##}');$2
endsnippet

snippet wi "winston info"
winston.info('${1:##}');$2
endsnippet

# vim:ft=snippets:
