.DS_Store
.netrwhist
*.pyc
tmp
.VimballRecord
bundle/command-t/ruby/command-t/Makefile
bundle/command-t/ruby/command-t/ext.bundle
bundle/command-t/ruby/command-t/ext.o
bundle/command-t/ruby/command-t/match.o
bundle/command-t/ruby/command-t/matcher.o
bundle/command-t/ruby/command-t/mkmf.log
